<div class="col-md-4">
    <table class="table" [ngStyle]="{'color':chosenColor}">
        <thead>
            <tr>
                <th>#</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Username</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Richard</td>
                <td>Feynman</td>
                <td>@richie</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Isaac</td>
                <td>Newton</td>
                <td>@newts</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Michael</td>
                <td>Faraday</td>
                <td>@mfarads</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Nikola</td>
                <td>Tesla</td>
                <td>@tesla</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>Marie</td>
                <td>Curie</td>
                <td>@coolpinkz</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>Edsger</td>
                <td>Djikstra</td>
                <td>@djed</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>Michael</td>
                <td>Faraday</td>
                <td>@mfarads</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>Donald</td>
                <td>Knuth</td>
                <td>@thebetterdonald</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>Jon Von</td>
                <td>Neumann</td>
                <td>@newman</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>Albert</td>
                <td>Einstein</td>
                <td>@pawnsnoobs</td>
            </tr>
            <tr>
                <th scope="row">11</th>
                <td>Bill</td>
                <td>Nye</td>
                <td>@sciguy</td>
            </tr>
        </tbody>
    </table>
</div>