<div class="row">
    <div class="page-header">
      <img src="assets/images/shield-large.png" width="70px" />
      <h1>Color Theme Chooser <small>Choose now</small></h1>
    </div>
    <div class="col-md-4 col-md-offset-4">
      <div class="input-group">
        <input [(ngModel)]="inputColor" type="text" class="form-control" placeholder="Type a color.." />
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" (click)="buttonClicked()">Apply</button>
        </span>
      </div>
    </div>
</div>